@model IEnumerable<Project5.Models.User>

@{
    ViewData["Title"] = "Admin Tools";
}

<head>
    <title>Admin Tools</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\site.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>

<body>
<button id="logout" class="button-admin">Logout</button>

<script>
    $("#logout").click(function () {
        document.location = "Identity/Account/Logout";
    });
</script>

<p>
    <a asp-action="Create" class="link">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="table-heading">
                @Html.DisplayNameFor(model => model.s_id)
            </th>
            <th class="table-heading">
                @Html.DisplayNameFor(model => model.first_name)
            </th>
            <th class="table-heading">
                @Html.DisplayNameFor(model => model.last_name)
            </th>
            <th class="table-heading">
                @Html.DisplayNameFor(model => model.savior_name)
            </th>
            <th class="table-heading">
                @Html.DisplayNameFor(model => model.webId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.s_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.savior_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.webId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="link">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="link">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="link">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>